adobe
cmder
blackmagic
blender
djv
ffmpeg
fonts
luts
opencolorio
project
softimage
solidangle
royalrender
tmp
$RECYCLE.BIN
System Volume Information

# user .wgsource file
.licenses
!setup/.rcfiles/.licenses