adobe
cmder
blackmagic
djv
ffmpeg
fonts
luts
opencolorio
project
softimage
solidangle
redshift
royalrender
tmp
$RECYCLE.BIN
System Volume Information

# user .wgsource file
.licenses
!setup/.rcfiles/.licenses