[submodule "plugins/cryptomatte"]
	path = plugins/cryptomatte
	url = https://github.com/Psyop/Cryptomatte.git
	branch = master
[submodule "sidefx/HSITE/qLib"]
	path = sidefx/HSITE/qLib
	url = https://github.com/qLab/qLib.git
	branch = master
