adobe
cmder
blackmagic
ffmpeg
fonts
luts
opencolorio
project
softimage
solidangle
redshift
royalrender
tmp
tweaksoftware
vscode
$RECYCLE.BIN
System Volume Information

# user .wgsource file
.licenses
!setup/.rcfiles/.licenses