[submodule "sidefx/HSITE/mlnLib"]
	path = sidefx/HSITE/mlnLib
	url = https://github.com/nagyg/mlnLib.git
	branch = master
[submodule "sidefx/HSITE/qLib"]
	path = sidefx/HSITE/qLib
	url = https://github.com/qLab/qLib.git
	branch = master
[submodule "mtool"]
	path = mtool
	url = https://github.com/crmabs/mtool.git
	branch = master
[submodule "sidefx/HSITE/mops"]
	path = sidefx/HSITE/mops
	url = https://github.com/toadstorm/MOPS.git
	branch = master
[submodule "redshift/OSLShaders"]
	path = redshift/OSLShaders
	url = https://github.com/redshift3d/RedshiftOSLShaders.git
